@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
}

input {
  font-family: "Itim", cursive;
}

button,
textarea {
  font-family: "Itim", cursive;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 4px 0px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #0059bf;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
